In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('hasil_scraping_bukalapak/hasil_scraping_Sendal gunung .csv', index_col=0)

dataset.head(20)

                                                 Name   Price Kondisi  Stok
No
1   Sandal Gunung Outdoor Antarestar Sandal Trevel...   72000    Baru    98
2   Sandal Gunung NB Pria Casual / Sandal newbalan...  199000    Baru    50
3   Sandal Gunung Hijack - Sandal Pria Gunung - Sa...  155000    Baru    50
4        Sandal Gunung Wanita Import Fashion Original  159000    Baru   100
5            Consina Sunburn Sandal Gunung Travelling  125000    Baru    10
6   SANDAL GUNUNG TRIGLAV PREMIUM ASLI ORIGINAL SA...   94999    Baru    94
7   Sandal Gunung Outdoor Pro Original - Sandal Hi...  179900    Baru    48
8                           Sendal jepit gunung Sayka   30000    Baru   481
9   Sandal Gunung Wanita Pria Sendal Gunung Tali C...   65000    Baru   914
10   Sandal Gunung Selop Pria Casual - Selop PL 01 CK   99000    Baru  1997
11  Sandal Gunung Pria 39-43 Nevis Nvs 17 Original...  119000    Baru    84
12          Sandal Gunung Anak Carvil Superior GT-300  105000    Baru     9
13  Sepatu Sandal Tali Fashion Wanita Sandal Gunun...   62900    Baru   944
14                         grosir sandal gunung erger   24000    Baru   100
15  Sepatu Sandal Gunung Anak Cowok Laki Lelaki Pe...   35900    Baru    97
16  TERMURAH TERLARIS Sandal jepit Pria Sendal Gun...   65000    Baru  6218
17  SANDAL GUNUNG JUMBO SENDAL TALI BIG SIZE OUTDO...   66550    Baru   100
18                   Sandal Gunung Hiking Model Jepit   13000    Baru  1000
19               Consina Trawangan Sandal Gunung Pria  275000    Baru     4
20                  Consina Kanawa Sandal Gunung Pria  175000    Baru     6

In [3]:
dataset.dtypes

Name       object
Price       int64
Kondisi    object
Stok        int64
dtype: object

In [4]:
dataset.describe()

               Price           Stok
count    1274.000000    1274.000000
mean   141609.941130    5783.024333
std     71650.242316   73987.644138
min     13000.000000       1.000000
25%     99900.000000       9.000000
50%    129825.000000      20.000000
75%    169750.000000      99.000000
max    699000.000000  999999.000000

In [5]:
dataset.max()

Name       skills sandal gunung pria mode japit original ...
Price                                                 699000
Kondisi                                                 Baru
Stok                                                  999999
dtype: object

In [6]:
dataset.min()

Name       (Kiddiwear) Sandal  gunung anak / Sandal Ringa...
Price                                                  13000
Kondisi                                                 Baru
Stok                                                       1
dtype: object

In [7]:
total = dataset.isnull().sum().sort_values(ascending=False)

total

Name       0
Price      0
Kondisi    0
Stok       0
dtype: int64